@mixin app-theme($theme) {
  :root[data-app-theme='#{$theme}'] & {
    @content;
  }
}

@mixin ellipsis($truncation-boundary: 100%) {
  @apply overflow-hidden overflow-ellipsis whitespace-nowrap;
  max-width: $truncation-boundary;
}

@mixin center-block() {
  @apply absolute top-2/4 left-2/4 transform -translate-x-2/4 -translate-y-2/4;
}

@mixin center-block-vertical() {
  @apply absolute top-2/4 transform -translate-y-2/4;
}

@mixin center-block-horizontal() {
  @apply absolute left-2/4 transform -translate-x-2/4;
}

@mixin center-image {
  @apply absolute inset-0 m-auto;
}

@mixin fill-img {
  @apply absolute inset-0 w-full h-full m-auto object-cover;
}

@mixin scrollbar-thin() {
  @apply overflow-auto;

  // For Google Chrome
  &::-webkit-scrollbar {
    @apply w-2 h-2;
  }

  &::-webkit-scrollbar-thumb {
    // @apply bg-on-surface-faint-primary rounded-xl;
  }

  &::-webkit-scrollbar-track {
    @apply bg-transparent rounded-xl;
  }

  // For Internet Explorer
  & {
    // scrollbar-face-color: theme('colors.on-surface.faint-primary');
    // scrollbar-track-color: theme('colors.on-surface.tertiary');
  }
}

@mixin scrollbar-none {
  /* hide scrollbar but allow scrolling */
  & {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
  }

  &::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
}
